---
import SocialIcon from "../components/SocialIcon.astro";
import Main from "./Main.astro";

const { frontmatter, title } = Astro.props
let pagetitle = title ? title : frontmatter.title
let pagedescription = frontmatter.description
let author = frontmatter.author
let date = new Date(frontmatter.pubDate).toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"});
const url = Astro.url
---
<Main title={pagetitle} description={pagedescription}>
    <article class="max-w-6xl prose prose-sm lg:prose-base prose-headings:text-thc-blue-300 lg:prose-hr:my-0 lg:mx-auto text-justify m-4 my-24">
        <h1 class="text-center mb-0">{frontmatter.title}</h1>
        <hr>
        <div class="flex flex-wrap justify-between mx-auto mb-10">
            <div>
                <h6 class="mb-1.5"><strong>Authored By : </strong>{author}</h6>
                <SocialIcon fontColor="text-thc-blue-400 hover:text-thc-blue-200" icon_w="5" icon_h="5" url={url}></SocialIcon>
            </div>
            <div>
                <h6 class="m-0"><strong>Published On</strong><br>{date}</h6>
            </div>
        </div>
        <slot/>
    </article>
</Main>


